{% extends "learners/base.html" %}

{% block body %}

    <div class="container mt-5 p-4 text-center bg-light rounded shadow-sm">
        <h2 class="mb-4">
            Thank you for visiting TestYourSurgery.com
        </h2>

        <p class="mb-4">If you have a few minutes to spare, I’d really appreciate your feedback.
            It will help me improve the site and make it more valuable for surgical trainees like yourself.
        </p>

        <a href="https://forms.gle/jGKXC643Vc7rjUZE9" 
            target="_blank" 
            rel="noopener noreferrer"
            class="btn btn-success btn-lg">
            Submit Feedback
        </a>

        <p class="mt-4">
            <a href="{% url 'login' %}" class="text-decoration-none">Back to Login</a>
        </p>

    </div>


{% endblock %}