{% extends "learners/base.html" %}

{% block body %} 

<div class="page-container"> 
    <div class="main-content">   
        <h1>Test Your Surgery</h1>
   
        <div class="form-wrapper">
            <div class="error-msg">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <h5>Please Login:</h5>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username"
                    value="{{ username }}">
                </div>
                <div class="form-group">
                    <input class="form-control pass-word" type="password" name="password" placeholder="Password">
                </div>
                <button type="submit">Login</button>
            </form>

            <p class="register-link">
                Or <a href="{% url 'register' %}">Register</a> for an account
            </p>
        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; {% now "Y" %} Patrick J. Wallace, MD FACS. All Rights Reserved.</p>
    </footer>
</div>
{% endblock %}