{% extends "learners/base.html" %}

{% block body %}

    <div class="page-container">
        <div class="main-content">
            <h1>Surgical Self Assessment</h1>

        
            <div class="form-wrapper">
                <div class="error-msg">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <h5>Register for an Account</h5>
                
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username"
                        value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <input class="form-control e-mail" type="email" name="email" placeholder="Email Address"
                        value="{{ email }}">
                    </div>
                    <div class="form-group">
                        <input class="form-control pass-word" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control confirm-password" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>

                    <button type="submit">Register</button>
                </form>
                
                <p class="register-link">
                    <span class="register-span">Already have an account? <a href="{% url 'login' %}">Log In</a></span>
                </p>
            </div>
        
        </div>
        <footer class="footer">
            <p>&copy; {% now "Y" %} Patrick J. Wallace, MD FACS. All Rights Reserved.</p>
        </footer>
    </div>

{% endblock %}