{% extends "management/layout.html" %}

{% block body %}

    <div class="form-container" id="add_explanation-container">

        <div id="add-explanation-msg" class="msg-div">
            
        </div>
       
        <div class="error-msg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h2>Add an Explanation for a Question</h2><br>

        <form id="add-explanation-form" data-fetch="true" method="post">
            {% csrf_token %}
            
            <div id="add-explanation-container">                
                <div class="form-group col-md-6">
                    {{ add_explanation_form.topic.label_tag }}
                    {{ add_explanation_form.topic }}
                </div>
                <div class="form-group col-md-8">
                    {{ add_explanation_form.subtopic.label_tag }}
                    {{ add_explanation_form.subtopic }}
                </div>
                                   
                <div class="form-group">
                    {{ add_explanation_form.question.label_tag}}
                    {{ add_explanation_form.question}}
                </div>

                <div id="choices-container">
                    
                </div>

                <div class="form-group">                   
                    {{ add_explanation_form.text}}
                </div>
            </div>

            <button class="btn btn-primary" id="add-explanation-btn" type="submit" >
                Add Explanation
            </button>
            
        </form>


    </div>

{% endblock %}