{% extends "management/layout.html" %}

{% block body %}
    
    <div class="welcome-container text-center" id="welcome">
        

        <h2>Welcome to the Quiz Database Management Portal</h2><br>

        <p>To add, rename, or delete a topic or subtopic, click on
            the appropriate menu on the top navigation bar.
        </p>

        <p>To add, edit, or delete questions, answer choices, or explanations, you
            may use either the sidebar menu or the top navigation bar.
        </p>
        
    </div>
  
{% endblock %}